.App {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.root {
    min-width: 425px;
    min-height: 100px;
}
li {
    list-style-type: none !important;
  }
.Textfield{
    width: 100%;
}
.form{
    text-align: center;
}
